<h2>
	{{data.name[0]}}
</h2>

<form class='form-horizontal' name="editForm">
	
	<form-field data="data" field="name" required></form-field>
	<form-field data="data" field="password" required></form-field>

	<form-field data="data" field="desc" ></form-field>

	<div class="form-group">
		<label class="col-sm-2 control-label">Category</label>
		<div class="col-sm-6">
			<select
				class="form-control"
				name="category"
				ng-model="category"
				ng-options="c.name for c in categories">
			</select>
			
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Level</label>
		<div class="col-sm-6">
			<select
				class="form-control"
				name="level"
				ng-model="data.level[0]"
				ng-options="v for (k, v) in levels"
				ng-blur="blurUpdate()"
			>
			</select>
			
		</div>
	</div>

	<div class="row form-group">
		<div class="col-sm-offset-2">
			<button class="btn btn-danger" ng-click="remove()">Delete</button>
		</div>
	</div>
</form>