<div class="row form-group" ng-form="{{field}}" ng-class="{ 'has-error' :{{field}}.$dirty &&{{field}}.$invalid }">
<!-- @疑问：这里的ng-form是为了嵌套么？因为要把它也当成是form，才能进行表单验证 -->
	
	<!-- 项目名称 -->
	<label class="col-sm-2 control-label">
		<!-- @todo: 差一个filter -->
		{{field | labelCase}}
		<!-- 星号 -->
		<span ng-if="required">*</span>
	</label>

 
	<!-- 输入框 -->
	<div ng-switch="required" class="col-sm-6">
		<!-- 必填项 -->
		<!-- @疑问：为何这里type 又要用{{}}把它包起来？ -->
		<input ng-switch-when="true" ng-model="record[field][0]" type="{{record[field][1]}}" ng-change="update()" ng-blur="blurUpdate()" required class="form-control">
		
		<!-- 非必填项 -->
		<div ng-switch-default class="input-group">
			<!-- 输入框 -->
			<input ng-model="record[field][0]" type="{{record[field][1]}}" ng-change="update()" ng-blur="blurUpdate()" class="form-control">
			
			<!-- 删除按钮 -->
			<span class="input-group-btn">
				<button class="btn btn-default" ng-click="remove(field)">
					<span class="glyphicon glyphicon-remove-circle"></span>
				</button>
			</span>
		</div>
	</div>

	<!-- 错误信息 -->
	<div ng-show="{{field}}.$dirty &&{{field}}.$invalid" ng-messages="{{field}}.$error">
		<p class="control-label" ng-message="required">
			{{field}} is required			
		</p>

		<p class="control-label" ng-repeat="(k, v) in types" ng-message="{{k}}">
			{{field}} {{v[1]}}
		</p>
	</div>	

</div>
