/* line 1, ../sass/smartscroll.scss */
html,
body,
ul,
li {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  color: #3C3404;
  text-decoration: none;
}
a:focus {
  color: #3C3404;
  font-weight: bold;
  text-decoration: underline;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.section-title {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}
/* line 40, ../sass/example.scss */
.section:nth-child(6n+1) {
  height: 700px;
  background-color: #ff708f;
}
/* line 45, ../sass/example.scss */
.section:nth-child(6n+2) {
  height: 1000px;
  background-color: #e89d5d;
}
/* line 50, ../sass/example.scss */
.section:nth-child(6n+3) {
  height: 500px;
  background-color: #ffe33e;
}
/* line 55, ../sass/example.scss */
.section:nth-child(6n+4) {
  height: 900px;
  background-color: #7ae856;
}
/* line 60, ../sass/example.scss */
.section:nth-child(6n+5) {
  height: 1500px;
  background-color: #ffffff;
}
/* line 65, ../sass/example.scss */
.section:nth-child(6n) {
  height: 400px;
  background-color: #05a8bd;
}
.navbar {
  position: fixed;
  right: 0px;
  top: 50%;
  margin-top: -180px;
  text-align: right;
}
.navbar li {
  float: right;
  clear: right;
  width: 90px;
  transition: width 1s;
  -moz-transition: width 1s;
  /* Firefox 4 */
  -webkit-transition: width 1s;
  /* Safari and Chrome */
  -o-transition: width 1s;
  /* Opera */
}
.navbar li:hover {
  width: 200px;
}
.navbar li a {
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  text-decoration: none;
  display: block;
  padding: 20px 10px;
}
.title {
  text-align: center;
  position: relative;
}
.title h1 {
  margin: 0;
  color: #f5ff9c;
  width: 500px;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -250px;
}
.title .tips {
  color: #FCE0E0;
  width: 80px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  margin-left: -40px;
}
.title .tips-a {
  color: #FCE0E0;
}
.title .tips-a:hover {
  background: none;
  text-decoration: none;
}
.title .tips-a:focus {
  color: #FCE0E0;
  background: none;
  text-decoration: none;
}
.title-color {
  background-color: #ff708f;
}
.intro {
  color: #076d80;
}
.intro-color {
  background-color: #e89d5d;
}
.intro-header {
  margin-bottom: 30px;
}
.intro-header img {
  width: 150px;
  height: 150px;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border-radius: 75px;
}
.intro-desc {
  vertical-align: middle;
  margin-top: 5%;
}
.intro-desc .douban {
  padding: 12px;
  background: url(../img/douban.png);
  margin-right: 20px;
}
.intro-desc i {
  font-size: 24px;
}
.intro-desc .desc-a {
  display: inline-block;
  vertical-align: middle;
}
.intro-body {
  color: #303030;
}
.intro-body .rightArea {
  border-left: dashed 1px #897f8a;
  padding-bottom: 47px;
}
.intro-body .icon-circle {
  margin-right: -10px;
}
.intro-body .icon-circle i {
  color: #076d80;
  font-size: 18px;
}
.intro-body .col-left {
  padding: 30px 30px;
  width: 200px;
  display: inline-block;
}
.intro-body .col-right {
  padding: 30px 30px;
  width: 200px;
  display: inline-block;
}
.reason-color {
  background-color: #ffe33e;
}
.reason-title {
  margin-top: 15px;
  line-height: 30px;
}
.reason-title .reason-number {
  font-size: 30px;
}
.reason-content-con {
  margin-top: 5%;
}
.reason-content-box {
  margin-bottom: 30px;
}
.reason-other li {
  margin-bottom: 3%;
}
.strength-color {
  background-color: #7ae856;
}
.desc-color {
  background-color: #ffffff;
}
.desc .icons .color-book {
  background: #ba6d5b;
}
.desc .book-text {
  color: #ba6d5b;
}
.desc .movie-text {
  color: #2694e3;
}
.photo h2 {
  color: #fafceb;
}
.photo-color {
  background-color: #05a8bd;
}
.photo-gallery img {
  width: 300px;
}
.more-color {
  background-color: #6e74f5;
}
/*---------------------------------------------------------------------------------
 13. Responsive style
-------------------------------------------------------------------------------*/
@media screen and (max-width: 400px) {
  .mobile-hide {
    display: none;
  }
  .section {
    padding: 30px;
  }
  .container {
    width: 100%;
  }
  .title h1 {
    width: 200px;
    top: 20%;
    margin-left: -100px;
  }
  .intro .container {
    width: 100%;
  }
  .intro-body .col-left {
    padding: 0px;
    width: 80px;
  }
  .intro-body .col-right {
    padding: 10px;
    width: 100px;
  }
  .navbar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin-top: 0px;
  }
  .navbar li {
    float: left;
    width: 50px;
    height: 50px;
    clear: none;
    transition: height 1s;
    -moz-transition: height 1s;
    /* Firefox 4 */
    -webkit-transition: height 1s;
    /* Safari and Chrome */
    -o-transition: height 1s;
    /* Opera */
  }
  .navbar li:hover {
    height: 50px;
    width: 50px;
  }
  .navbar li a {
    border-bottom-left-radius: 2em;
    border-top-left-radius: 0;
    border-bottom-right-radius: 2em;
    text-decoration: none;
    display: block;
    padding: 3px 10px;
    height: 50px;
  }
  .spider .icons .icon {
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -moz-transition: all 0.3s cubic-bezier(0.54, 0.38, 0.89, 0.41);
    -o-transition: all 0.3s cubic-bezier(0.54, 0.38, 0.89, 0.41);
    -webkit-transition: all 0.3s cubic-bezier(0.54, 0.38, 0.89, 0.41);
    transition: all 0.3s cubic-bezier(0.54, 0.38, 0.89, 0.41);
    background: #2694e3;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    display: block;
    height: 90px;
    line-height: 90px;
    position: absolute;
    margin: -28px;
    text-align: center;
    visibility: hidden;
    width: 90px;
    z-index: 100;
    /* 
      * Loop through the icons and include the animation
      */
  }
}
